<div class="span12" style="text-align:center;">
  <h1>Editing DVD</h1>

  <%= render 'form' %>  

  <div class="row" style="text-align:center;">
    <%= link_to 'Show', @dvd %> |
    <%= link_to 'Back', dvds_path %>
  </div>
</div>
